<link rel="stylesheet" href="navbar.component.scss">
<nav class="container-fluid nav--container" xmlns="http://www.w3.org/1999/html">
  <ul class="nav--container--brand--section">
    <li>
      <img (click)="onIconClick()" class="nav--container--brand--section-logo" src="/assets/Icons/Icon.png"
           alt="shortVisionLogo"/>
      <strong>
        <span [ngClass]="currentUrl == '/'? ('nav--container--brand--section-vision'):('')">
          ShortVision
        </span>
      </strong>
    </li>
  </ul>
  <ul class="nav--container--ul">
    <li *ngIf="!isUserLoggedIn"><button class="nav--container--ul--link" routerLink="/login">Login</button></li>
    <li><button class="nav--container--ul--link" href="#1">About</button></li>
    <li><button class="nav--container--ul--link" href="#1">Contact</button></li>
    <li *ngIf="isUserLoggedIn"><button class="nav--container--ul--link nav--container--ul--link-logout" (click)="onLogOut()" role="button" href="">LogOut</button>
    </li>
  </ul>
  <ul class="nav--container--ul-hamburger">
    <label class="container-burger">
      <input id="hamburgerToggle" type="checkbox"/>
      <div class="checkmark-burger">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <aside class="nav--container--ul-hamburger-aside">
        <li *ngIf="!isUserLoggedIn"><a class="nav--container--ul--link-hamburger" routerLink="/login" href="">Login</a></li>
        <li><a class="nav--container--ul--link-hamburger" href="#">About</a></li>
        <li><a class="nav--container--ul--link-hamburger" href="#">Contact</a></li>
        <li *ngIf="isUserLoggedIn">
          <a class="nav--container--ul--link-hamburger-button" (click)="onLogOut()" href="">LogOut</a></li>
      </aside>
    </label>

  </ul>
</nav>
