
.nav--container--ul--link {
  color: #121212;
}

.nav--container--brand--section-vision {
  color: #fbfbfbfb;
}

.nav--container--brand--section-logo {
  width: 50%; /* ou une autre valeur en pourcentage qui convient à votre mise en page */
  max-width: 84px; /* ou une autre taille maximale en pixels */
}

#hamburgerToggle {
  display: none;
}

.nav--container--ul-hamburger {
  display: none;
}
@media (min-width: 320px) and (max-width: 720px) {
  .nav--container--ul--link {
    display: none;
  }
  .nav--container--ul-hamburger{
    display: flex;
  }
  .container {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: var(--font-size);
    user-select: none;
  }
  .checkmark {
    position: relative;
    top: 0;
    left: 0;
    height: calc(var(--font-size) + 0.5rem);
    width: calc(var(--font-size) + 0.5rem);
  }
  .checkmark span {
    width: 32px;
    height: 2px;
    background-color: black!important;
    position: absolute;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
  }
  .checkmark span:nth-child(1) {
    top: 10%;
  }
  .checkmark span:nth-child(2) {
    top: 50%;
  }
  .checkmark span:nth-child(3) {
    top: 90%;
  }
  .container input:checked + .checkmark span:nth-child(1) {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    -webkit-transform: translateY(-50%) rotate(45deg);
    -moz-transform: translateY(-50%) rotate(45deg);
    -ms-transform: translateY(-50%) rotate(45deg);
    -o-transform: translateY(-50%) rotate(45deg);
  }
  .container input:checked + .checkmark span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
    -webkit-transform: translateY(-50%) rotate(-45deg);
    -moz-transform: translateY(-50%) rotate(-45deg);
    -ms-transform: translateY(-50%) rotate(-45deg);
    -o-transform: translateY(-50%) rotate(-45deg);
  }
  .container input:checked + .checkmark span:nth-child(3) {
    transform: translateX(-50px);
    -webkit-transform: translateX(-50px);
    -moz-transform: translateX(-50px);
    -ms-transform: translateX(-50px);
    -o-transform: translateX(-50px);
    opacity: 0;
  }
  .nav--container--ul-hamburger-aside {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-right: 10px;
    position: relative;
  }
  //#hamburgerToggle {
  //  all: unset;
  //  display: block;
  //  border: none;
  //  width: 40px;
  //  height: 32px;
  //  position: relative;
  //  cursor: pointer;
  //  user-select: none;
  //  background-repeat: no-repeat;
  //  margin-top: var(--spacing);
  //}
  #hamburgerToggle + .nav--container--ul-hamburger-aside {
    display: none;
  }
  #hamburgerToggle:checked + .nav--container--ul-hamburger-aside {
    display: flex;
    margin-top: calc(var(--spacing) * 2.5);
  }
  aside {
    li {
      max-width: calc(15vw + 20px);
    }
  }
}
