<nav class="nav--container">
  <ul class="nav--container--brand--section">
    <li>
      <img class="nav--container--brand--section-logo" src="/assets/Icons/Icon.png"  alt="shortVisionLogo"/>
      <strong>
        <span class="nav--container--brand--section-vision">ShortVision</span>
      </strong>
    </li>
  </ul>
  <ul class="nav--container--ul">
    <li><a class="nav--container--ul--link" href="#">Login</a></li>
    <li><a class="nav--container--ul--link" href="#">About</a></li>
    <li><a class="nav--container--ul--link" href="#">Contact</a></li>
  </ul>
</nav>
