<main class="container-fluid">
  <article>
    <header>
      <div class="project--header--container">
        <h1>Welcome {{userName}} </h1>
        <button (click)="onCreateProject()">Create Project</button>
      </div>
    </header>
    <body>
    <div class="project--body--grid">
      <article *ngFor="let project of projects">
        <app-project-card [project]="project"></app-project-card>
      </article>
    </div>
    </body>
    <footer>
      <p>My Footer</p>
    </footer>
  </article>

</main>
