.project--header--container{
  display:flex;
  justify-content:space-between;
  flex-direction: row;
  align-items: center;
  h1{
    margin-top: calc(var(--spacing) + .5ch);
  }
  button{
    width: fit-content;
  }
}
.project--body--grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3px var(--spacing);
  padding-left: var(--spacing);
  padding-right: var(--spacing);
  article{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .project--body--grid--button-view-project{
      align-self: baseline;
    }
  }
}

@media (min-width: 320px) and (max-width: 700px) {
  .project--body--grid{
    grid-template-columns: repeat(1, 1fr);
  }
}
