.content--description{
  max-width: 325px;
  color: azure;
}
.hero--section--container {
  height: 100vh;
  width: 100vw;
  background-color: #dddddd;
  position: fixed;
  top: 0;
  left: 0;
}
.content--discovery--button{
  all: unset;
  text-align: center;
  width: 10vw;
  padding: 12.5px 30px;
  border: 0;
  border-radius: 100px;
  background-color: #fbfbfb;
  color: #2ba8fb;
  font-weight: Bold;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  &:hover {
    background-color: #6fc5ff;
    box-shadow: 0 0 20px #6fc5ff50;
  }
  &:active {
    background-color: #3d94cf;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    box-shadow: none;
  }
 }

.hero--section--head {
  right: 0;
  bottom: 25%;
  position: absolute;
  display: block;
  width: auto;
  height: auto;
}

.hero--section--blob-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 112%;
  z-index: -1;
  background-image: url("/assets/hero/blobLeft.svg");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 100% 100%;
  transform: translateY(-50%);
}

.hero--section--head-blob-right {
  position: absolute;
  top: -10%;
  right: calc(5vw - 18%);
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url("/assets/hero/blobRight.svg");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 100% 75%;
}

@media (max-width: 767px) {
  .hero--section--blob-left {
    background-size: 100% 100%;
  }
  .hero--section--head-blob-right {
    background-size: 33% auto;
  }
  .hero--section--head {
    bottom: 30%;
    max-width: 330px;
    max-height: 220px;
  }
  .content--heading{
    font-size: 1rem;
  }
  .content--description{
    font-size: .5rem;
  }
}

@media (min-width: 424px) and (max-width: 767px) {
  .hero--section--blob-left {
    background-size: 100% 100%;
  }
  .hero--section--head-blob-right {
    background-size: 33% auto;
  }
  .hero--section--head {
    bottom: 45%;
    max-width: 330px;
    max-height: 220px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .hero--section--blob-left {
    background-size: 100% 100%;
  }
  .hero--section--head-blob-right {
    background-size: 33% auto;
  }
  .hero--section--head {
    bottom: 30%;
    max-width: 460px;
    max-height: 330px;
  }
  .content--description{
    max-width: 320px;
  }
  .content--heading{
    font-size: 1.33rem;
  }
}

@media (min-width: 1025px) and (max-width: 1440px) {
  .hero--section--blob-left {
    background-size: 100% 100%;
  }
  .hero--section--head-blob-right {
    background-size: 33% auto;
  }
  .hero--section--head {
    bottom: 30%;
    max-width: 900px;
    max-height: 400px;
  }
  .content--heading{
    font-size: 1.33rem;
  }
  .content--description{
    max-width: 320px;
  }
}

@media (min-width: 1441px) {
  .hero--section--blob-left {
    background-size: 100% 100%;
    width: 125%;
    height: 150%;
  }
  .hero--section--head-blob-right {
    background-size: 33% auto;
    width: 75%;
    height: 85%;
  }
  .hero--section--head {
    bottom: 30%;
    max-width: 950px;
    max-height: 430px;
  }
  .content--heading{
    font-size: 1.5rem;
  }
  .content--description{}
}

@media (min-width: 1919px) and (max-width: 4096px) {
  .hero--section--blob-left {
    background-size: 100% 100%;
    width: 125%;
    height: 150%;
  }
  .hero--section--head-blob-right {
    background-size: 33% auto;
  }
  .hero--section--head {
    bottom: 30%;
    max-width: 1080px;
    max-height: 480px;
  }
}


