<main class="container-fluid">
  <article>
    <header class="project--view--header">
      <div class="tools">
        <div class="circle">
          <span class="red box"></span>
        </div>
        <div class="circle">
          <span class="yellow box"></span>
        </div>
        <div class="circle">
          <span class="green box"></span>
        </div>
      </div>
      <button (click)="onBackArrowClick()" class="arrow right">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="60px" height="80px"
             viewBox="0 0 50 80" xml:space="preserve">
          <polyline id="polylineBack" fill="none" stroke="" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" points="
	        0.375,0.375 45.63,38.087 0.375,75.8 "/>
      </svg>
      </button>
    </header>
    <div class="project--view--grid">
      <aside>
        <object #mp4 type="image/svg+xml" data="/assets/Icons/project/mp4.svg" class="icon">
          Votre navigateur ne supporte pas les SVGs
        </object>
        <p><b>Videos</b></p>
      </aside>
      <aside>
        <object #png type="image/svg+xml" data="/assets/Icons/project/png.svg" class="icon">
          Votre navigateur ne supporte pas les SVGs
        </object>
        <p><b>Images</b></p>
      </aside>
      <aside>
        <object #wav type="image/svg+xml" data="/assets/Icons/project/wav.svg" class="icon">
          Votre navigateur ne supporte pas les SVGs
        </object>
        <p><b>TTS</b></p>
      </aside>
      <aside>

        <object #txt type="image/svg+xml" data="/assets/Icons/project/txt.svg" class="icon">
          Votre navigateur ne supporte pas les SVGs
        </object>
        <p><b>Text</b></p>
      </aside>
    </div>
  </article>
</main>
