<main (click)="resetVideo($event.target)" class="container-fluid">

  <article>
    <header class="project--view--header">
      <div class="tools">
        <div class="circle">
          <span class="red box"></span>
        </div>
        <div class="circle">
          <span class="yellow box"></span>
        </div>
        <div class="circle">
          <span class="green box"></span>
        </div>
      </div>
      <button (click)="onBackArrowClick()" class="arrow right">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="60px" height="80px"
             viewBox="0 0 50 80" xml:space="preserve">
          <polyline id="polylineBack" fill="none" stroke="" stroke-width="1" stroke-linecap="round"
                    stroke-linejoin="round" points="
	        0.375,0.375 45.63,38.087 0.375,75.8 "/>
      </svg>
      </button>
    </header>
    <ng-container *ngIf="currentProject?.mergeVideo">
      <section class="project--view--finalOutPut">
        <h2>Here is your final video</h2>
        <app-final-video></app-final-video>
      </section>
    </ng-container>

    <ng-container *ngIf="!currentProject?.mergeVideo">
      <div class="project--view--process">
        <button (click)="startProcess()" *ngIf="!isProcessStarted" class="start--process--button">Start Process</button>
        <section *ngIf="isProcessStarted && currentStep.current==steps[0]">
          <p>Search for a video</p>
          <form [formGroup]="videoForm" class="project--view--process--form" (ngSubmit)="onSubmitVideo()">
            <label for="video">
              <input formControlName="name" id="video" type="text" placeholder="Exemple: Cars">
            </label>
            <button *ngIf="!isAppLoading" type="submit" class="project--view--process--form-validate">✓</button>
            <app-loader *ngIf="isAppLoading" class="loader"></app-loader>
          </form>
        </section>
        <ng-container *ngIf="currentStep.current==steps[1]">
          <section>
            <p>Generate your text with AI</p>
            <form (ngSubmit)="aiGeneratedText()" class="project--view--process--form" [formGroup]="textForm">
              <label for="textAI">
                <input id="textAI" type="text" formControlName="content"
                       placeholder="Exemple: My video is about chimps that eats coconuts underwater">
              </label>
              <button type="submit" *ngIf="!isAppLoading" class="project--view--process--form-validate">✓</button>
              <app-loader *ngIf="isAppLoading" class="loader"></app-loader>
            </form>
          </section>
        </ng-container>
      </div>
      <div class="alert-danger alert" *ngIf="videoForm.touched && videoForm.invalid && !currentProject?.videos?.length">
        <p>at least one video name is required</p>
      </div>
      <div class="alert-warning alert" *ngIf="videoForm.touched && videoForm.invalid">
        <p>Empty video title are not allowed</p>
      </div>
      <div class="project--view--grid">
        <ng-container *ngIf="currentStep.current==steps[0]">
          <aside *ngFor="let video of currentProject?.videos;">
            <span class="toolsVideo cross" (click)="deleteVideo(video.id)">X</span>
            <span class="toolsVideo expand" (click)="toggleAnimate($event)">🗗</span>
            <p><b>{{video?.name | titlecase}}</b></p>
            <video (dblclick)="toggleFullscreen($event.target)" controls [poster]="video.urlVideo">
              <source src="{{video.urlVideo}}" type="video/mp4">
            </video>
          </aside>
        </ng-container>
      </div>
      <ng-container *ngIf="currentStep.current==steps[1]">
        <section>
          <p><b>You can edit your text before generating voice-over</b></p>
          <app-loader *ngIf="isAppLoading" class="loader"></app-loader>
          <p contenteditable="true" class="p--">
            {{currentProject?.responseChatGPT}}
          </p>
        </section>
      </ng-container>
      <ng-container *ngIf="currentStep.current==steps[2] && currentProject?.responseChatGPT">
        <section class="tts">
          <button (click)="generateVoiceOver()" class="">Generate your voice-over</button>
          <app-loader *ngIf="isAppLoading" class="loader"></app-loader>
        </section>
      </ng-container>
      <ng-container *ngIf="currentStep.current==steps[3]">
        <section>
          <button (click)="mergeVideo()">You're Almost Done! Just press me..</button>
          <app-loader *ngIf="isAppLoading" class="loader"></app-loader>
        </section>
      </ng-container>
      <button class="project--view--grid--button-next-step" (click)="nextStep()">Next</button>
    </ng-container>
  </article>
</main>

