<main (click)="resetVideo($event.target)" class="container-fluid">
  <article>
    <header class="project--view--header">
      <div class="tools">
        <div class="circle">
          <span class="red box"></span>
        </div>
        <div class="circle">
          <span class="yellow box"></span>
        </div>
        <div class="circle">
          <span class="green box"></span>
        </div>
      </div>
      <button (click)="onBackArrowClick()" class="arrow right">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="60px" height="80px"
             viewBox="0 0 50 80" xml:space="preserve">
          <polyline id="polylineBack" fill="none" stroke="" stroke-width="1" stroke-linecap="round"
                    stroke-linejoin="round" points="
	        0.375,0.375 45.63,38.087 0.375,75.8 "/>
      </svg>
      </button>
    </header>
    <div class="project--view--process">
      <button (click)="startProcess()" *ngIf="!isProcessStarted" class="start--process--button">Start Process</button>
      <section *ngIf="isProcessStarted">
        <p>Search for a video</p>
        <form [formGroup]="videoForm" class="project--view--process--form" (ngSubmit)="onSubmitVideo()">
          <label for="video">
            <input formControlName="name" id="video" type="text" placeholder="Exemple: Cars">
          </label>
            <button *ngIf="!isVideoLoading" type="submit" class="project--view--process--form-validate">✓</button>
            <app-loader *ngIf="isVideoLoading" class="loader" ></app-loader>
        </form>
      </section>
    </div>
    <div class="alert-danger alert" *ngIf="videoForm.touched && videoForm.invalid && !currentProject?.videos?.length">
      <p>at least one video name is required</p>
    </div>
    <div class="alert-warning alert" *ngIf="videoForm.touched && videoForm.invalid">
      <p>Empty video title are not allowed</p>
    </div>
    <div class="project--view--grid">
      <aside (click)="toggleAnimate($event.target)" *ngFor="let video of currentProject?.videos;">
        <span class="cross" (click)="deleteVideo(video.id)">X</span>
        <p><b>{{video?.name | titlecase}}</b></p>
        <video (dblclick)="toggleFullscreen($event.target)" #videoElement controls [poster]="video.urlVideo">
          <source src="{{video.urlVideo}}" type="video/mp4">
        </video>
      </aside>
      <aside  *ngIf="currentProject?.images?.length" #png>
        <object type="image/svg+xml" data="/assets/Icons/project/png.svg" class="icon">
          Votre navigateur ne supporte pas les SVGs
        </object>
        <p><b>Images</b></p>
      </aside>
      <aside *ngIf="currentProject?.tts !== null" #wav>
        <object type="image/svg+xml" data="/assets/Icons/project/wav.svg" class="icon">
          Votre navigateur ne supporte pas les SVGs
        </object>
        <p><b>TTS</b></p>
      </aside>
      <aside *ngIf="currentProject?.responseChatGPT?.length" #txt>
        <object type="image/svg+xml" data="/assets/Icons/project/txt.svg" class="icon">
          Votre navigateur ne supporte pas les SVGs
        </object>
        <p><b>Text</b></p>
      </aside>
    </div>
  </article>
</main>

<!--
<dialog #dialogTxt class="modal&#45;&#45;dialog-txt">
  <article>
    <h3>Confirm your action!</h3>
    <p>
      Mauris non nibh vel nisi sollicitudin malesuada.
      Donec ut sagittis erat. Praesent eu eros felis.
      Ut consectetur placerat pulvinar.
    </p>
    <footer>
      <button (click)="closeModal('txt')" role="button" class="secondary">Cancel</button>
      <button role="button">Confirm</button>
    </footer>
  </article>
</dialog>
<dialog #dialogPng class="modal&#45;&#45;dialog-png">
  <article>
    <h3>Confirm your action!</h3>
    <p>
      Mauris non nibh vel nisi sollicitudin malesuada.
      Donec ut sagittis erat. Praesent eu eros felis.
      Ut consectetur placerat pulvinar.
    </p>
    <footer>
      <button (click)="closeModal('png')" role="button" class="secondary">Cancel</button>
      <button role="button">Confirm</button>
    </footer>
  </article>
</dialog>
<dialog #dialogWav class="modal&#45;&#45;dialog-wav">
  <article>
    <h3>Confirm your action!</h3>
    <p>
      Mauris non nibh vel nisi sollicitudin malesuada.
      Donec ut sagittis erat. Praesent eu eros felis.
      Ut consectetur placerat pulvinar.
    </p>
    <footer>
      <button (click)="closeModal('wav')" role="button" class="secondary">Cancel</button>
      <button role="button">Confirm</button>
    </footer>
  </article>
</dialog>
<dialog #dialogMp4 class="modal&#45;&#45;dialog-mp4">
  <article>
    <h3></h3>
    <p>
      Mauris non nibh vel nisi sollicitudin malesuada.
      Donec ut sagittis erat. Praesent eu eros felis.
      Ut consectetur placerat pulvinar.
    </p>
    <footer>
      <button role="button" (click)="closeModal('mp4')" class="secondary">Cancel</button>
      <button role="button">Confirm</button>
    </footer>
  </article>
</dialog>
-->
