.login--container{
  margin-block-start: var(--spacing);
}
article div:nth-of-type(2) {
  display: none;
  background-color: #374956;
  background-image: url("/assets/hero/Head.png");
  background-size: cover;

}
@media (min-width: 992px) {
  .grid > div:nth-of-type(2) {
    display: block;
  }
}




@media (min-width: 768px) {
  body > main {
    padding: 1.5rem 0;
  }

  article div {
  }
}

@media (min-width: 992px) {
  body > main {
    padding: 1.75rem 0;
  }

}

@media (min-width: 1200px) {
  body > main {
    padding: 2rem 0;
  }

}
