.register--form--submit-button {
  align-self: center;
  all: unset;
  text-align: center;
  width: 10vw;
  padding: 12.5px 30px;
  border: 0;
  border-radius: 100px;
  background-color: #2ba8fb;
  color: #fbfbfb;
  font-weight: Bold;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;

  &:hover {
    background-color: #6fc5ff;
    box-shadow: 0 0 20px #6fc5ff50;
  }

  &:active {
    background-color: #3d94cf;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    box-shadow: none;
  }
}

.register--form--flex-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  label {
    max-width: 275px;
  }
}
article div:nth-of-type(2) {
  background-color: #374956;
  background-image: url("/assets/hero/Head.png");
  background-position: center;
  background-size: initial;
}


@media (min-width: 992px) {
  .grid > div:nth-of-type(2) {
    display: block;
  }
}

.alert {
  $iconsize: calc(var(--font-size) *  1.5); // 24px / 30px if $enable-responsive-spacings
  margin-bottom: var(--spacing); // some default space below alert element
  padding: var(--form-element-spacing-vertical) var(--form-element-spacing-horizontal); // same as forms .input
  border-radius: var(--border-radius);
  //font-weight: 500; // var(--font-weight);
  //font-size: 1rem;
  //line-height: var(--line-height);
  color: var(--color);
  background-color: var(--background-color);
  border: 1px solid var(--background-color); // compensate for 1px border

  // icon
  background-image: var(--icon);
  background-position: center left var(--form-element-spacing-vertical); // use vertical for icon left align
  background-size: $iconsize auto;
  padding-left: calc(var(--form-element-spacing-vertical) * 2 + #{$iconsize});
}
.alert-danger {
  background-color: #ffcfcf;
  --icon: var(--icon-invalid);
  --color: #f87171;
}
