<div class="containerCard">
  <div class="container_terminal"></div>
  <div class="terminal_toolbar">
    <div class="butt">
      <button class="btn btn-color"></button>
      <button class="btn"></button>
      <button class="btn"></button>
    </div>
    <p class="user">johndoe@admin: ~</p>
  </div>
  <div class="terminal_body">
    <div class="terminal_promt">
      <span class="terminal_user">johndoe@admin:</span>
      <span class="terminal_location">~</span>
      <span class="terminal_bling">$ sudo rm -rf * -- no preserve root</span>
      <span class="terminal_cursor"></span>
    </div>
  </div>
</div>
