<section class="container-fluid footer--section--container">
  <object data="assets/Icons/pexels.svg"></object>
  <a href="https://www.pexels.com">Powered By Pexels</a>
  <object data="assets/Icons/ffmpeg.svg"></object>
  <a href="https://www.ffmpeg.org">Powered By FFmpeg</a>
  <object data="assets/Icons/spring.svg"></object>
  <a href="https://www.spring.io">Spring boot based backend</a>
  <object data="assets/Icons/angular.svg"></object>
  <a href="https://www.angular.io">Angular frontend</a>
</section>
