section {
  background-color: hsl(205deg, 30%, 15%)
}

.footer--section--container {
  display: grid;
  grid-template-columns: repeat(10, fit-content(100%));
  place-items: baseline;
  padding-left: var(--spacing);
  gap: calc(var(--spacing) / 2);
  border-top: 1px solid var(--color-gray-300);
  padding-top: var(--spacing);

  margin-bottom: unset;

  svg {
    color: var(--primary-inverse);

    &:hover {
      cursor: pointer;
    }
  }

  a {
    font-size: calc(var(--font-size) / 1.5);
    color: var(--primary-inverse);
  }
}

object {
  max-height: 32px;
}

.footer--section--container--names {
  p {
    color: var(--primary-inverse);
  }

  margin-bottom: unset;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-top: var(--spacing);
  padding-right: var(--spacing);
}
