<section class="footer--section--container">
  <object data="assets/Icons/pexels.svg"></object>
  <a href="https://www.pexels.com">Powered By Pexels</a>
  <object data="assets/Icons/ffmpeg.svg"></object>
  <a href="https://www.ffmpeg.org">Powered By FFmpeg</a>
  <object data="assets/Icons/spring.svg"></object>
  <a href="https://www.spring.io">Spring boot based backend</a>
  <object data="assets/Icons/angular.svg"></object>
  <a href="https://www.angular.io">Angular frontend</a>
  <object data="assets/Icons/chatgpt.svg"></object>
  <a href="https://www.chatgpt.com">Powered By ChatGPT</a>
</section>
<section class="footer--section--container names">
  <div>
    <p>
      Made with heart by <a href="https://www.linkedin.com/in/h%C3%BCseyin-yurtseven-%F0%9F%92%BB-a448751b9/">Hüseyin
      Yurtseven</a> and <a href="https://www.linkedin.com/in/paul-delifer/"> Paul Delifer</a>
    </p>
  </div>
</section>
